<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1665496969.0846</real>
	<key>UUID</key>
	<string>4C69AD30-E1DF-4CE9-A8C2-7CE926E0AA56</string>
</dict>
</plist>
